In [1]:
import pandas as pd

In [2]:
# 1D array: Data Series
# 2D array: Data Frame

## Data Series

In [11]:
L=[1,4,6,8,10]
df = pd.Series(L)
df

0     1
1     4
2     6
3     8
4    10
dtype: int64

In [12]:
L=[1,4.5,6,8,10]
df = pd.Series(L)
df

0     1.0
1     4.5
2     6.0
3     8.0
4    10.0
dtype: float64

In [13]:
L=[1,4.5,6,8,'10']
df = pd.Series(L)
df

0      1
1    4.5
2      6
3      8
4     10
dtype: object

In [15]:
L=[1,4,6,8]
S = ['fsd','coa','toc','fcsp']
df = pd.Series(L, index=S)
df

fsd     1
coa     4
toc     6
fcsp    8
dtype: int64

In [18]:
d = {'a':1, 'b':2, 'c':3}
df = pd.Series(d, name='Series')
df

a    1
b    2
c    3
Name: Series, dtype: int64

In [20]:
d = {'a':1, 'b':2, 'c':3}
df = pd.Series(d, name='Series', index=['fsd','coa','toc'])
df

fsd   NaN
coa   NaN
toc   NaN
Name: Series, dtype: float64

In [21]:
d = {'a':1, 'b':2, 'c':3}
df = pd.Series(d, name='Series', index=['fsd','b','toc'])
df

fsd    NaN
b      2.0
toc    NaN
Name: Series, dtype: float64

In [32]:
L=[1,4,6,8]
df = pd.Series(L, copy=False)
df[1] = 80
print(L)
df

[1, 4, 6, 8]

0     1
1    80
2     6
3     8
dtype: int64

In [33]:
L=[1,4,6,8]
df = pd.Series(L, copy=True)
df[1] = 80
print(L)
df

[1, 4, 6, 8]

0     1
1    80
2     6
3     8
dtype: int64

In [34]:
import numpy as np
L=np.array([1,4,6,8])
df = pd.Series(L, copy=False)
df[1] = 80
print(L)
df

[ 1 80  6  8]

0     1
1    80
2     6
3     8
dtype: int32

In [35]:
L=np.array([1,4,6,8])
df = pd.Series(L, copy=True)
df[1] = 80
print(L)
df

[1 4 6 8]

0     1
1    80
2     6
3     8
dtype: int32

## DataFrame

In [36]:
data = [[100,80,15],
        [50,70,30],
        [40,100,30],
        [80,50,20]]
df = pd.DataFrame(data)
df

     0    1   2
0  100   80  15
1   50   70  30
2   40  100  30
3   80   50  20

In [41]:
data = [[100,80,15],
        [50,70,30],
        [40,100,30],
        [80,50,20]]
df = pd.DataFrame(data, columns=['col-1','col-2','col-3'], index=['r-1','r-2','r-3','r-4'])
df

     col-1  col-2  col-3
r-1    100     80     15
r-2     50     70     30
r-3     40    100     30
r-4     80     50     20

In [50]:
data = {'name':['a','b','c'],
        'id':[50,70,30],
        'marks':[40,100,30],
        'package':[80,50,20]}
df = pd.DataFrame(data)
df.set_index('id',inplace=True)
# inplace: Change in original dataframe or not?
df

   name  marks  package
id
50    a     40       80
70    b    100       50
30    c     30       20

In [53]:
df = pd.read_csv('Book1.csv')
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [61]:
df1 = df['cgpa']
print(type(df1))
df1

<class 'pandas.core.series.Series'>

0      6.89
1      5.12
2      7.82
3      7.42
4      6.94
       ...
195    6.93
196    5.89
197    7.21
198    7.63
199    6.22
Name: cgpa, Length: 200, dtype: float64

In [58]:
df = pd.read_csv('movie.csv')
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [73]:
df = pd.read_csv('Book1.csv')
print('Shape:',df.shape)
print('Axes:',df.axes)
print('Columns:',df.columns)
df.T

Shape: (200, 2)
Axes: [RangeIndex(start=0, stop=200, step=1), Index(['cgpa', 'package'], dtype='object')]
Columns: Index(['cgpa', 'package'], dtype='object')

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
cgpa,6.89,5.12,7.82,7.42,6.94,7.89,6.73,6.75,6.09,8.31,...,6.19,7.28,8.25,4.57,7.89,6.93,5.89,7.21,7.63,6.22
package,3.26,1.98,3.25,3.67,3.57,2.99,2.60,2.48,2.31,3.51,...,2.69,3.48,3.75,1.94,3.67,2.46,2.57,3.24,3.96,2.33

In [77]:
df1 = pd.DataFrame({'A':[]})
print("Is that empty?:",df1.empty)
df1

Is that empty?: True

Empty DataFrame
Columns: [A]
Index: []

In [78]:
df1 = pd.DataFrame({'A':[np.nan]})
print("Is that empty?:",df1.empty)
df1

Is that empty?: False

    A
0 NaN

In [104]:
d =[{'a':1, 'b':2, 'c':3, 'd':4},
    {'a':10, 'b':20, 'c':30, 'd':40},
    {'a':100, 'b':200, 'c':300, 'd':400}]
df = pd.DataFrame(d)

print('0th row:')
print(df.iloc[0]) #iloc: index location
print()

print('0th row:')
print(df.iloc[[0]])
print()

print('0th row and 3rd col:')
print(df.iloc[0][3])
print()

print('0th to 1st row and 1st to last col:')
print(df.iloc[0:2,1:])
print()

print('1st and 2nd row:')
print(df.iloc[[1,2]])
print()

print('0th and 2nd row:')
print(df.iloc[[True,False,True]])
print()

print('1st and 2nd row:')
print(df.iloc[lambda x : x.index%2==0])
df

0th row:
a    1
b    2
c    3
d    4
Name: 0, dtype: int64

0th row:
   a  b  c  d
0  1  2  3  4

0th row and 3rd col:
4

0th to 1st row and 1st to last col:
    b   c   d
0   2   3   4
1  20  30  40

1st and 2nd row:
     a    b    c    d
1   10   20   30   40
2  100  200  300  400

0th and 2nd row:
     a    b    c    d
0    1    2    3    4
2  100  200  300  400

1st and 2nd row:
     a    b    c    d
0    1    2    3    4
2  100  200  300  400

     a    b    c    d
0    1    2    3    4
1   10   20   30   40
2  100  200  300  400