In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ML_Graph_Data.csv')
# x = df['X']
# y = df['Y']

x = df[['X']]
y = df[['Y']]

In [3]:
from sklearn.model_selection import train_test_split
# test_size = 0.2 : 20% data testing mate
# random_state: fix rakhis toh everytime same rows for training and testing else everytime different
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=10)
x_train

     X
6   22
8   19
2   18
10  24
5   22
11  11
14  23
1   23
0   15
4   24
13  16
9   16

In [4]:
from sklearn.linear_model import LinearRegression 
lr = LinearRegression()
lr

LinearRegression()

In [5]:
# import numpy as np
# np.float = np.float64

In [6]:
lr.fit(x_train, y_train)

LinearRegression()

In [7]:
y_pred = lr.predict(x_test)
y_pred

array([[63.30935252],
       [54.96402878],
       [65.39568345]])

In [8]:
y_test

     Y
3   60
7   63
12  59

In [9]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
print(mean_absolute_error(y_test,y_pred))
print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

5.913669064748201
38.811138139847834
-12.434624740716558

In [10]:
# since r2 score isn't between 0 to 100, model is underfit

In [12]:
lr.predict([[20]])

array([[57.05035971]])