In [1]:
# pip install scikit-learn --upgrade --user

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
# data cleaning
# null, duplicates
# outliers from bmi

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/kavit88/Linear-Regression/main/insurance.csv')
print(df.shape)
df.head()

(1338, 7)

   age  gender     bmi  children smoker     region      charges
0   19  female    27.9         0    yes  southwest  16884.92400
1   18    male   33.77         1     no  southeast   1725.55230
2   28    male      33         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male   28.88         0     no  northwest   3866.85520

In [5]:
df.dropna(how='any', inplace=True)
df.shape

(1334, 7)

In [6]:
df.drop_duplicates(inplace=True)
df.shape

(1333, 7)

In [7]:
df[df['bmi']=='-']

      age gender bmi  children smoker     region      charges
1321   62   male   -         0    yes  northeast  28101.33305

In [8]:
df.drop(df[df['bmi']=='-'].index, inplace=True)
df.shape

(1332, 7)

In [9]:
df['bmi'] = df['bmi'].astype('float64')

In [10]:
Q3 = df['bmi'].quantile(0.75)
Q1 = df['bmi'].quantile(0.25)
IQR = Q3 - Q1
lower_lim = Q1 - 1.5*IQR
upper_lim = Q3 + 1.5*IQR
df.drop(df[(df['bmi']>upper_lim) | (df['bmi']<lower_lim)].index, inplace=True)
df.shape

(1323, 7)

In [11]:
df.drop('region',axis=1,inplace=True)
df = pd.get_dummies(df, drop_first=True)
df.head()

   age     bmi  children      charges  gender_male  smoker_yes
0   19  27.900         0  16884.92400            0           1
1   18  33.770         1   1725.55230            1           0
2   28  33.000         3   4449.46200            1           0
3   33  22.705         0  21984.47061            1           0
4   32  28.880         0   3866.85520            1           0

In [12]:
df.corr()

                  age       bmi  children   charges  gender_male  smoker_yes
age          1.000000  0.114890  0.040303  0.300949    -0.019294   -0.026875
bmi          0.114890  1.000000  0.014177  0.195216     0.041218   -0.000598
children     0.040303  0.014177  1.000000  0.070361     0.021250    0.009446
charges      0.300949  0.195216  0.070361  1.000000     0.063269    0.785755
gender_male -0.019294  0.041218  0.021250  0.063269     1.000000    0.078312
smoker_yes  -0.026875 -0.000598  0.009446  0.785755     0.078312    1.000000

In [13]:
x = df.drop('charges',axis=1)
y = df['charges']

lr = LinearRegression()

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=10)
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)

In [14]:
print('Sq Err:',mean_squared_error(y_test, y_pred))
print('Abs Err:',mean_absolute_error(y_test, y_pred))
print('R2 Score:',r2_score(y_test, y_pred))

Sq Err: 36237083.85915007
Abs Err: 4043.0464978370887
R2 Score: 0.7544700226224084

In [15]:
# region saathe
# Sq Err: 36289247.502490826
# Abs Err: 4067.7130938907208
# R2 Score: 0.7541165797731114

In [16]:
# region sivaay
# Sq Err: 36237083.85915007
# Abs Err: 4043.0464978370887
# R2 Score: 0.7544700226224084

In [18]:
x_train

      age     bmi  children  gender_male  smoker_yes
231    59  27.830         3            0           0
399    18  38.170         0            0           0
1166   57  40.370         0            1           0
152    32  37.145         3            0           0
1242   22  21.280         3            0           0
...   ...     ...       ...          ...         ...
1189   23  28.000         0            0           0
1156   19  44.880         0            1           1
530    57  42.130         1            1           1
1158   20  30.590         0            0           0
1298   33  27.455         2            1           0

[1058 rows x 5 columns]

In [23]:
y1 = lr.predict([[25,42,1,1,1]])
y1

C:\Users\LJENG\AppData\Roaming\Python\Python38\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([31963.14215985])